@model Ql_khachhang.Models.DICH_VU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DICH_VU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
